.body {
    background-color: #EDDFE0;
}

.nav {
    color: #63534b;
    border-radius: 1.5rem;
    z-index: 1;
}
.navbar{
    background-color: #63534b;
    color: #63534b;
}

.navbar-brand {
    font-weight: 800;
    font-size: 2.5rem;
    margin-left: 1.5rem;
    z-index: 1;
}
.navbar-brand i{
    color: #63534b;

}
.navbar-brand h1{
    color: #63534b;

}

.navbar-right a {
    margin-left: 7rem;
    font-size: 1.5rem;
    color: #090c32;
    font-weight: 700;
    z-index: 1;
}
.navbar-right a:hover{
    color: #705C53;

}
.collapse-icon{
    transform: translateY(50%);
}

.homeImg {
    width: 98%;
}
.intro{
    width: 80%;
}

.right-home img {
    width: 25rem;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    animation:
        rotate 15s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.intro-body-left {
    font-size: 10rem;
    color: rgb(205, 167, 78);
    font-weight: 500;
    line-height: 120%;
    position: relative;
    animation: slideInFromLeft 2s ease-in-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.services {
    background-color: #F5F5F7;
    height: max-content;
}
.meals .card{
margin-bottom: 2rem;

}

.services i {
    font-size: 5rem;
    transition: transform 0.6s ease;
   

}

.services p {
    color: #c08216;
}

.services i:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.service-title h3 {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
}
.xtratheme{
    color: #919cb1;
}

.Categ {
    color: #705C53;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.Categ::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.8rem;
    width: 100%;
    height: 1.5rem;
    background-color: #b7b7b773;
    box-shadow: 0px 3rem 5rem rgba(10, 10, 10, 0.3);
    border-radius: 0.6rem;
    z-index: -1;
}

.info-cont {
    position: relative;
    width: 80%;
    background-color: #705C53; 
    border-radius: 1.5rem;
    color: white;
    overflow: hidden; 
}

.info-cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;   
    z-index: 0; 
    filter: brightness(70%); 
}

.info-cont * {
    position: relative; 
    z-index: 1;
}

.info-cont h1 {
    font-size: 4rem;

}

.info-cont h2 {
    font-size: 3rem;
}

.info-cont p {
    color: white;
    font-size: 1.5rem;
}
 .apps img{
 height: 5rem; 
 object-fit: contain;
} 

.apps img:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.footer{
    background-color: #193658;
}
.footer .card{
    background-color: #193658;
    border-radius: 3rem;
    border: 0.15rem solid #575f6f73;
}
.footer-upper .card-text{
    margin-top: 2rem;
}
.logo-and-title i{
    transform:translateY(-50%);
}
.footer-upper p{
    color: #919cb1;
    margin-top: 2rem;
}
.footer-upper i{
    margin-top: 2rem;
    font-size: 2rem;
    margin-right: 1rem;
}
.footer-upper .social-icons i:hover{
cursor: pointer;
transform: scale(1.2);
}
.lists h3{
    font-size: 1rem;
}
.lists .links h3{
    margin-top: 0.5rem;
}
.links{
    height: 2rem;
}
.links i{
    transform:translateY(-50%);
    font-size: 1.5rem;
    color: #919cb1;
}
.links:hover{
    cursor: pointer;
    color: #705C53;
}
.links h3:hover{
   
    font-size: 1.2rem;
}
.links i:hover{
    cursor: pointer;
    color: #705C53;
}
.money{
    color: #63534b;
    font-weight:700;
}
.win{
    border-radius: 3rem;
    background-color: #63534b;
    border-color: #63534b;
    font-size: larger;
    font-weight: 700;
    color: #B7B7B7;
}
.win:hover{
    background-color: rgb(40, 94, 40);
}
.footer-down .card-header{
    color: #B7B7B7;
    font-size: 1.4rem;
    margin-left: 0.5rem;
}
.blockquote{
    margin-right: 1rem;
}
.blockquote i{
    color: #919cb1;
    font-size: 1.8rem;
    margin-right: 1rem;
}
.blockquote i:hover{
cursor: pointer;
color: #705C53;
}
.line{
    color: #919cb1;
}

/* menu css */
.menu-layout{
    width: 90%;
    margin-top: 5rem;
    /* background-color: #63534b; */
    border-radius: 1.7rem;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-container{
    background-color: #EDDFE0;
    width: 100%;
}
.menu-content{
    background-color:#b59d91;
    height: 80%;
    border-top-left-radius: 1.7rem; 
    border-bottom-left-radius: 1.7rem; 
    overflow: hidden;
    overflow-y: auto; 
    overflow-x: hidden; 
}
.nav button{
    margin-bottom: 2.5rem;
}
.utensil i{
    font-size: 4rem;
    color: #63534b;
}
.nav{
    background-color: #EDDFE0;
}
.nav button{
    color: white;
    font-size: 1.2rem;
}
.nav-logo-item i{
    font-size: 1.8rem;
    height: max-content;
}
.nav-logo-item {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 3rem; 

    
}
.nav-logo-item:hover {
background-color: #705c5350;
}
.nav-logo-item a{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-shadow: #63534b 2px 2px 2px;
    text-decoration: none;
}
/* @media (min-width: 992px) {
    .nav-logo-item {
      margin: 10px;
    }
  } */
  
  .left-nav {
    color: #ffffff; 
    text-decoration: none; 
  }
  
  .left-nav:hover {
    color: #ffffff; 
    text-decoration: none; 
  }
  
  .left-nav:active {
    color: #ffffff; 
  }
  
  .left-nav:visited {
    color: #d8d1cc; 
  }
  
.nav-logo-item a:hover{
    color: white;
}
.nav-logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-item i {
    transition: background-color 0.3s ease, color 0.3s ease, height 0.3s ease;
    height: auto; 
    padding: 10px; 
}

.nav-logo-item:hover i {
    background-color: #705C53;
    color: white;
    height: 100%;
    padding: 15px; 
}

.ic-bg:hover {
    background-color: #705C53;
    color: white;
}
.menuBar{
    color: white;
    background-color: #b59d91;
    border-color: #63534b;
}
.menuBar:hover{
    color: white;
    background-color: #a08476;
    border-color: #63534b;

}
.ic-bg-home{
    transform: translateX(-15%);
}
.ic-bg-breakfast{
    transform: translateX(-10%);
}
.ic-bg-meals{
    transform: translateX(-15%);
}

.cart-icon{
    background-color: white;
    color:rgb(31, 31, 105);
    font-size: 2rem;
}
.food{
    overflow: hidden;
    overflow-y: auto; 
    overflow-x: hidden; 
    height: 40rem;
}
.items{
background-color:#7466603c;
border-bottom-left-radius: 1.7rem; 
border-bottom-right-radius: 1.7rem;

}
.all-items i {
    font-size: 3rem; 
    color: #193658; 
    text-shadow: 3px 2px 10px rgba(99, 83, 75, 0.5); 
}

.intro-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-image: url('../imgs/blue.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;   
    /* z-index: 0;  */
    filter: brightness(90%); 
}
.logo-menu i{
    margin-bottom: 1rem;
}
.delivery-photo{
    margin-top: 20px;
    text-align: center;
}

.photo-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.photo-section {
    position: relative;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(19, 19, 19, 0.1);
    overflow: hidden;
  }
  
  .photo-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/delivery.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(0.09rem); 
    z-index: 0; 
  }
  
  .photo-section p {
    position: relative;
    font-size: 4rem;
    color: #4a6e96;
    text-shadow: 2px 2px 10px rgba(10, 10, 10, 0.936);
    z-index: 1; 
  }

  @media (max-width: 964px) {
    .photo-section {
      display: none; 
    }
  }

.addToCartBtn{
    background-color: rgb(77, 193, 10);
    color: white;
    border-color:rgb(77, 193, 10) ;
    
}
.addToCartBtn:hover{
    background-color: rgb(77, 193, 10);
    color: white;
    border-color:rgb(77, 193, 10) ;

}
.heart-btn i {
    font-size: 1.2rem;
    color: gray; 
    cursor: pointer;
    transition: color 0.3s ease; 
}

.heart-btn i:hover {
    color: red; 
}

.heart-btn i.active {
    color: red; 
}

.wishlist-icon{
        background-color: white;
        color:rgb(227, 61, 15);
        font-size: 2rem;
    }

.connection{
        text-align: center;
        font-size: 1.2rem;
        color: white;
        font-weight: bold;
        margin-top: 20px;
    }


.checkoutBtn{
    background-color: #63534b;
    border-color: #63534b;
    color: white;
}
.closeBtn{
    background-color: #c72d1c;
    border-color: #c72d1c;
    color: white; 
}

.removeFromWishList{
    background-color: #c72d1c;
    border-color: #c72d1c;
    color: white;
}
    




